<section id="navigation" class="hostelsnav">
    <div class="md:px-20 lg:px-32 py-3 flex justify-center">
        <img id="nav_logo" src="/regoff/images/headers/c.png" alt="logo" class="nav_logo hidden md:inline mr-5">
        
        <div class="w-2/3 sm:3/4 lg:w-max my-1 flex justify-start items-center relative">
            <button id="slideLeft"
                class=" absolute top-0.5 rounded bg-white shadow-lg -left-0 h-full z-20 transform scale-75 opacity-50">
                <img src="/regoff/images/nav/left.svg" alt="Left" class="h-full rounded transform scale-50">
            </button>
            <ul class=" tabs pl-1 sm:pl-4 font-semibold">
                <li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100 tabStyle"><a
                        class="active" href="#home">Home</a></li>
				<li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100"><a
                        href="#announcements">Announcements</a></li>
                <li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100"><a
                        href="#registrar">Registrar</a></li>
                <li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100"><a
                        href="#officials">Officials</a></li>
                <li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100"><a
                        href="#importantlinks">Important Links</a></li>
                <li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100">
                    <a href="#gallery">Photo Gallery</a>
                </li>
                <li class="tab px-1.5 sm:px-3 text-black text-opacity-60 hover:text-opacity-100"><a
                        href="#contactus">Contact Us</a></li>
            </ul>
            <button id="slideRight"
                class="ml-5 absolute top-0.5 rounded bg-white shadow-lg -right-1 h-full z-20 transform scale-75 opacity-70">
                <img src="/regoff/images/nav/right.svg" alt="Right" class="h-full rounded transform scale-50">
            </button>
        </div>
    </div>
</section>